<!-- invite.html -->
<html>
<head>
  <title>Report from geolocation</title>
</head>
<body>
  <p>
    Hi {{surname}} {{name}},
  </p>
  <p>
    We would like to give you some information about logs on our system.
    <br />
    Please follow the link below to get logs:
  </p>
  <p>
    <a href="http://myapp.com/register?invite={{id}}">http://myapp.com/register?invite={{id}}</a>
  </p>
  <p>
    Thank you,
    <br />
    Report Team
  </p>
  <p>
    <a href="http://myapp.com"><img src="cid:html5@myapp" /></a>
  </p>
</body>
</html>